.App{
  background-color: #1B2026;
  text-align:center;
  min-height: 100vh;
}

.stopWatch {
  padding-top: 50vh;
}

.time {
  /* padding-top: 50vh; */
  display : inline;
  padding-top : 2px;
  padding-bottom : 2px;
  padding-left : 16px;
  padding-right : 16px;
  font-size: 24px;
  color : #FA507E;
  border-radius: 10px;
  background-color: #292E36;
}

.buttons{
  margin-top:5px;
}

.startButton{
  font-size:16px;
  color: white;
  background-color:green;
  border-radius:4px;
  padding-top : 2px;
  padding-bottom : 2px;
  padding-left : 16px;
  padding-right : 16px;
  border-width : 0;
  
}

.stopButton{
  font-size:16px;
  color: white;
  background-color:red;
  border-radius:4px;
  padding-top : 2px;
  padding-bottom : 2px;
  padding-left : 16px;
  padding-right : 16px;
  border-width : 0;
  
}

.resumeButton{
  font-size:16px;
  color: white;
  background-color:#FFD343;
  border-radius:4px;
  padding-top : 2px;
  padding-bottom : 2px;
  padding-left : 16px;
  padding-right : 16px;
  border-width : 0;
  margin-right: 10px;
}

.resetButton{
  font-size:16px;
  color: white;
  background-color:#1266f1;
  border-radius:4px;
  padding-top : 2px;
  padding-bottom : 2px;
  padding-left : 16px;
  padding-right : 16px;
  border-width : 0;
  
}
